<div class="p-5">
  <h3>Concat</h3>
  <br /><br />
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tech Videos: </strong> 1,2,3,4,5
      </p>
      <br />
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Comedy Videos: </strong>1,2,3
      </p>
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Videos: </strong> 1,2,3,4
      </p>
    </div>
  </div>
  <hr />
  <div class="justify-content-center">
    <div class="row">
      <div class="col-md-6">
        <div class="card-header">Your Channel Subscriber</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
