<div class="p-5">
  <h2>External Lib and Fork Join</h2>
  <br />
  <div class="row">
    <div class="col-md-6">
      <h5>Source 1 data:[0, 10, 5, 2, 20, 30, 45]</h5>
      <hr />
      <canvas id="myChart"></canvas>
    </div>
    <div class="col-md-6">
      <h5>Source 2 data:[0, 10, 20, 30, 20, 50, 60]</h5>
      <hr />
      <canvas id="myChart2"></canvas>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <h5>Eg-01 Using merge</h5>
      <hr />
      <canvas id="myChart3"></canvas>
    </div>
    <div class="col-md-6">
      <h5>Eg-02 Using Fork Join</h5>
      <hr />
      <canvas id="myChart4"></canvas>
    </div>
  </div>
</div>
