/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
ul.itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.itemList li {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px 13px;
  margin-bottom: 10px;
}
ul.itemList.error li {
  color: red;
  background-color: rgba(255, 0, 0, 0.08);
  border-color: red;
}
ul.itemList.completed li {
  color: green;
  background-color: rgba(61, 216, 67, 0.08);
  border-color: green;
}
.notification {
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 5px;
}

.notification .item {
  overflow: hidden;
}
.notification .item:not(:first-child) {
  border-top: 1px solid #f5f5f5;
}

.notification .header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 0 10px;
}

.notification .body {
  font-size: 13px;
  line-height: normal;
}

.notification .body .item-img {
  padding: 2px;
  float: right;
  margin: 0 0 0 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.red {
  height: 50px;
  width: 50px;
  background-color: red;
  text-align: center;
  margin-right: 5px;
}
.yellow {
  height: 50px;
  width: 50px;
  background-color: yellow;
  text-align: center;
  margin-right: 5px;
}
.green {
  height: 50px;
  width: 50px;
  background-color: green;
  text-align: center;
  margin-right: 5px;
}
.pink {
  height: 50px;
  width: 50px;
  background-color: pink;
  text-align: center;
  margin-right: 5px;
}
.blue {
  height: 50px;
  width: 50px;
  background-color: blue;
  text-align: center;
  margin-right: 5px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.red {
  height: 50px;
  width: 50px;
  background-color: red;
  text-align: center;
  margin-right: 5px;
}
.yellow {
  height: 50px;
  width: 50px;
  background-color: yellow;
  text-align: center;
  margin-right: 5px;
}
.green {
  height: 50px;
  width: 50px;
  background-color: green;
  text-align: center;
  margin-right: 5px;
}
.pink {
  height: 50px;
  width: 50px;
  background-color: pink;
  text-align: center;
  margin-right: 5px;
}
.blue {
  height: 50px;
  width: 50px;
  background-color: blue;
  text-align: center;
  margin-right: 5px;
}
